<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Editor</title>
		<style>
			html,
			body {
				height: 100%;
			}
		</style>
	</head>
	<body>
		<div id="app" style="height: 100%; background: blue; display: flex; align-items:center; justify-content: center;">
			<textarea id="editor"></textarea>
		</div>
		<script>
			const d = document.getElementById('editor')
d.addEventListener('input', function (e) {
document.getElementById('result').innerText = e.target.value
window.ReactNativeWebView.postMessage(JSON.stringify({value: e.target.value}))
})
		</script>
	</body>
</html>
