@tailwind base;
@tailwind components;
@tailwind utilities;

[data-slate-placeholder='true'] {
  top: 0;
  line-height: 1.3;
  color: var(--color-placeholder, #464646);
  opacity: 1 !important;
}
[data-slate-node="element"] {
  margin-bottom: 1em;
}

body {
  font-size: 1rem;
  line-height: 1.33;
  background-color: var(--color-background);
  caret-color: var(--color-caret);
  color: var(--color-text);
}
h1 {
  font-size: 1.75rem;
  line-height: 1.1;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.1;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.1;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-top: 0.667rem;
  margin-bottom: 0.5rem;
}
h5 {
  font-size: 1rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
h6 {
  font-size: 0.825rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  line-height: 1.25;
  margin-bottom: 1rem;
}
ul,
ol {
  padding-left: 1.5em;
  margin-top: 0;
}
li {
  line-height: 1.5;
}
ul {
  list-style: initial;
}

blockquote {
  margin-left: 0;
  padding-left: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-left: 2px solid var(--color-blockquote-border, #111111);
}
blockquote *:last-child {
  margin-bottom: 0;
}

.btn {
  display: inline-flex;
  @apply items-center justify-center;
}