<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh-hans</string>
    <key>CFBundleDisplayName</key>
    <string>R2V</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>r2v_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>r2v_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>r2v_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>r2v_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_blue_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_blue_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_blue_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_blue_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_dark_purple_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_dark_purple_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_dark_purple_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_dark_purple_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_purple_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_purple_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_purple_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_purple_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_green_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_green_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_green_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_green_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_teal_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_teal_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_teal_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_teal_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_red_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_red_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_red_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_red_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_orange_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_orange_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_orange_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_orange_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_yellow_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_yellow_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_yellow_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_yellow_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_pink_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_pink_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_pink_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_pink_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>r2v_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>r2v_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>r2v_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>r2v_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_blue_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_blue_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_blue_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_blue_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_dark_purple_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_dark_purple_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_dark_purple_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_dark_purple_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_purple_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_purple_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_purple_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_purple_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_green_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_green_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_green_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_green_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_teal_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_teal_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_teal_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_teal_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_red_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_red_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_red_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_red_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_orange_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_orange_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_orange_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_orange_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_yellow_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_yellow_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_yellow_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_yellow_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_pink_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_pink_light-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>gin_pink_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>gin_pink_dark-Icon-$60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.9.3</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>r2v</string>
          <string>com.kucial.v2ex</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your camera</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your microphone</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your photos</string>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>